@font-face {
  font-family: 'Farenheight';
  src: url('./assets/fonts/farenheight.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

body {
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
}

:root {
  --first-color: #00f3f1;
  --second-color: #edf5ff;
  --third-color: #ff3232;
  --background: #050b19;
  --accent: #7f3dd5;
  --first-place: #ffc130;
  --second-place: #fda98f;
  --third-place: #5dd7eb;
  --first-place-podium: #ffc130a1;
  --second-place-podium: #fda98fa1;
  --third-place-podium: #5dd7eba1;
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}

html,
body {
  margin: 0px;
  height: 100vh;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  /* padding:  1%; */
  /* border: 2px solid red; */
  box-sizing: border-box;
  overflow: hidden; /*this solved dual scrollbar issue*/
}





.top{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  /* border: 2px solid blue; */
  z-index: 16;
  background: linear-gradient(to bottom, var(--background) 50%, transparent);
  position: fixed;
  top : 0px;
  /* transform: translateY(-10%); */
}


/* .bottom{
  display: flex;
  flex-direction: row;
} */

.ieee-logo > img {
  max-width: 105px;
  max-height: 105px;
}

.logos{
  /* border: 2px solid blue; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-shrink: 3;
  justify-content: space-around;
  transform: translateY(20%);
}
.orgContainer{
  /* border: 2px solid red; */
  margin: 2px 2px;
  display: flex;
  flex-direction: column;
  justify-content:  space-around;
  align-items: center;
  width: 250px;
  height: 270px;
}
.orgName{
  color: var(--second-color);
  /* border: 2px solid salmon; */
  margin: 7px 2px;
  justify-content: center;
  align-items: center;
  
}
.orgLogo{
  /* border: 2px solid magenta; */
  height: 200px;
  width: 200px;
}



.left {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 25%;
  height: 100vh;
  z-index: 15;
}
.vertical-rule {
  min-width: 5px;
  background-color: black;
  height: 220%;
  align-self: center;
  justify-self: center;
  background-color: var(--second-color);
}
.option {
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 1px;
  color: var(--second-color);
  cursor: pointer;

}
.index {
  flex-shrink: 0;
  width: 33px;
  text-align: center;
  display: none;
  border: 2px solid red;
}
.collaborators{
  /* border: 2px solid blue; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-shrink: 3;
  justify-content: space-around;
  width: 60%;
  transform: translateX(34%);
}
.colabContainer{
  /* border: 2px solid red; */
  margin: 2px 2px;
  display: flex;
  flex-direction: column;
  justify-content:  space-around;
  align-items: center;
  width: 250px;
  height: 270px;
}
.colabName{
  color: var(--second-color);
  /* border: 2px solid salmon; */
  margin: 7px 2px;
  justify-content: center;
  align-items: center;
  
}
.colabLogo{
  /* border: 2px solid magenta; */
  height: 200px;
  width: 200px;
}



.option i {
  width: 25px;
  height: 25px;
}
.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  width: 65%;
  height: 100%;
  padding-top: 20px;
  padding-left: 10%;
  transform: translateX(14%);
}

.segment{
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 300ms ease-in-out, color 300ms ease-in;
}
.index{
  display: none;
}

.option:hover .index {
  background: linear-gradient(
    90deg,
    var(--first-color),
    var(--second-color),
    #fff
  );
  background-size: 300%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.option:hover .segment,
.index {
  transform: scale(1.25);
}

.option:hover .segment {
  background: linear-gradient(
    to bottom,
    var(--first-color),
    var(--second-color)

  );
  background-size: 100%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mobile-menu > .option:hover{
  background: linear-gradient(
    to bottom,
    var(--first-color),
    var(--second-color)

  );
  background-size: 100%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* Right half */
.right {
  scroll-behavior: smooth;
  /* border: 2px solid greenyellow; */
  scrollbar-width: 1px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 7rem;
  width: 100%;
  /* height: 100%; */
  z-index: 15;
  overflow-y: auto;
}

.right::-webkit-scrollbar {
  width: 7px; /* Set the width of the scrollbar */
}

.right::-webkit-scrollbar-thumb {
  background-color: #34dbcd; /* Set the color of the scrollbar thumb */
}

.right::-webkit-scrollbar-track {
  background-color: transparent; /* Set the color of the scrollbar track */
}


/* Home section */




.home {
  margin-top: -1rem;
  color: var(--second-color);
  padding-bottom: 5px;
  /* display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 4fr; */

  /* background: url("./assets/imgs/Aeravat-logo.png") no-repeat center; */
  background-size: 50%;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  /* height: 70vh; */
  justify-self: center;
  align-self: center;
}
.presents{
  /* border: 2px solid red; */
  width: 100%;
  text-align: center;
  color: var(--second-color);
  font-size: 20px;
}

#ieeecsbs{
  height: 150px;
}
#iicspit{
  height: 150px;
}
#ieeebs{
  height:150px;
}

.mobile-menu-button {
  display: none;
  cursor: pointer;
}

/* Style for the pop-up menu */
.mobile-menu {
  display: none;
  flex-direction: column;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: var(--background);
  z-index: 999; /* Adjust the z-index as needed */
}

/* Additional styling for menu items in the pop-up menu */
.mobile-menu a {
  color: var(--second-color);
  padding: 15px;
  text-align: center;
  text-decoration: none;
  font-size: 1.2rem;
}

/* Style for the close button in the pop-up menu */
.close-mobile-menu {
  cursor: pointer;
  padding: 15px;
  text-align: center;
  background-color: var(--background);
  color: var(--second-color);
  border: none;
  font-size: 1.2rem;
}



#Aeravat{
  font-size: 160px;
  margin: 10px 10px;
}

.registration {
  justify-self: center;
  display: flex;
  flex-direction: column;
}
.hackathon > h2 {
  /* background-image: linear-gradient(to right, var(--first-color), var(--third-color));
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent; */
  color:var(--third-color);
  font-size: 2.5rem;
  margin: 15px 5px;
  font-family: Farenheight;
}
.hackathon > h4 {
  /* background-image: linear-gradient(to right, var(--first-color), var(--third-color));
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent; */
  color: var(--third-color);
  font-size: 1rem;
  margin: 5px 5px;
  text-align: center;
}
.register-button {
  position: relative;
  text-align: center;
  background-color: rgb(29, 49, 79);
  padding: 5px;
  border: #edf5ff 2px solid;
  border-radius: 0.5rem;

  color: var(--second-color);
  font-size: 1.6rem;
  cursor: pointer;
  transition: transform 300ms ease-in-out;
  margin: 14px 10px;
}
.register-button:hover {
  /* background: linear-gradient(
    70deg,
    var(--first-color),
    var(--first-color),
    var(--second-color),
    var(--third-color),
    var(--third-color)
  ); */
  background-color:  rgb(29, 49, 79);
  color: rgb(33, 191, 227);
  /* background-size: 100%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; */
  transform: scale(1.02);
  margin: 14px 10px;

}
.home > h1 {
  text-align: center;
  font-family: Farenheight;
  grid-column: 1/3;
  font-size: 5rem;
}
.associates > h1{
  text-align: center;
  font-family: Farenheight;
  font-size: 3rem;
  color: var(--second-color);
  display: flex;
  flex-direction: column;
}

.logo > img {
  align-self: center;
  /* transform: translate(50%); */
  height: 230px;
  width: 300px;
  background: (radial-gradient(transparent,white));
}

/* About section */
.about {
  color: var(--second-color);
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10vh;
}
.about > h1 {
  text-align: center;
  font-family: Farenheight;
  font-size: 3rem;
}
.about > p {
  font-size: 1.2rem;
}

/* Domains */

.domains {
  color: var(--second-color);
  width: 85%;
  gap: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10vh;
}
.domains > h1 {
  text-align: center;
  font-family: Farenheight;
  font-size: 3rem;
}
.tracks {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.domain {
  padding: 2px;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 5px 5px;
  justify-content: end;
  padding-bottom: 10px;
  align-items: center;
  height: 200px;
  width: 170px;
  border: 3px var(--second-color) solid;
  border-radius: 12px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  transition: transform 300ms ease-in-out;
}
.domain > .name {
  font-size: 1.1rem;
  text-overflow: ellipsis;
  color: var(--second-color);
  font-weight: 600;
}
.domain > .info {
  top: 0px;
  display: none;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  width: 100%;
  height: 250px;
  position: absolute;
  text-align: center;
  background-color: #050b196e;
}
.domain:hover {
  transform: scale(1.05);
}
.domain:hover .info {
  display: flex;
}

/* Prizes */
.prizes {
  color: var(--second-color);
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10vh;
}
.prizes > h1 {
  text-align: center;
  font-family: Farenheight;
  font-size: 3rem;
}
.prize-grid {

  display: grid;
  display: none;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 1fr);
  width: 75%;
  height: 75%;
  column-gap: 3px;
  align-items: center;
  justify-content: center;
}

#prizepool{
  transform: translateY(10%);
  font-size: 70px;
}
.first-black,
.second-black,
.third-black {
  border-radius: 5px 5px 0px 0px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3vw;
  transition: box-shadow 200ms ease-in-out;
}
.first-black {
  color: var(--first-place);
  background-color: var(--first-place-podium);
  border-top: 10px var(--first-place) solid;
  grid-column: 2/3;
  grid-row: 3/7;
}
.first-black:hover {
  box-shadow: 0 0 28px -5px var(--first-place);
}
.second-black {
  color: var(--second-place);
  background-color: var(--second-place-podium);
  border-top: 10px var(--second-place) solid;
  grid-column: 3/4;
  grid-row: 5/7;
}
.second-black:hover {
  box-shadow: 0 0 28px -5px var(--second-place);
}
.third-black {
  color: var(--third-place);
  background-color: var(--third-place-podium);
  border-top: 10px var(--third-place) solid;
  grid-column: 1/2;
  grid-row: 6/7;
}
.third-black:hover {
  box-shadow: 0 0 28px -5px var(--third-place);
}
.prize-grid > h4 {
  text-align: center;
  font-size: 1.6rem;
}

/* Timeline */
.timeline {
  color: var(--second-color);
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10vh;
  transform: translateY(-10%);
}
.timeline > h1 {
  text-align: center;
  font-family: Farenheight;
  font-size: 3rem;
}
.timeline-grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 80%;
  height: 90%;
  gap: 6rem;
}
.timeline-grid > .line {
  position: absolute;
  width: 74%;
  height: 60%;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 5px var(--second-color) solid;
  border-left: none;
  z-index: -1;
}
.bubble {
  background-color: #00dada;
  place-self: center;
  color: var(--background);
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: outline 100ms ease-in-out, filter 100ms ease-in-out,
    transform 200ms ease-in-out, box-shadow 50ms ease-in;
  box-shadow: 0 0 60px -30px #00f3f1;
}
.bubble > .date {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
}
.bubble > .month {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
}

.bubble > .detail {
  text-align: center;
  font-weight: 450;
  font-size: 0.9rem;
}
.bubble:hover {
  transform: scale(1.05);
  filter: brightness(70%);
  outline-offset: 2px;
  outline-width: 3px;
  outline-color: #fff;
  outline-style: dotted;
  box-shadow: 0 0 60px -10px #00bebe;
}

.guidelines {
  color: var(--second-color);
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10vh;
}
.guidelines > h1 {
  text-align: center;
  font-family: Farenheight;
  font-size: 3rem;
}
.guidelines > ul {
  font-size: 1.3rem;
  display: flex;
  width: 90%;
  height: 100%;
  gap: 1rem;
  flex-direction: column;
  justify-content: space-between;
}

/* Sponsors */
.sponsors {
  color: var(--second-color);
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10vh;
}
.sponsors > h1 {
  text-align: center;
  font-family: Farenheight;
  font-size: 3rem;
}
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 200px;
  height: 200px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: var(--accent);
  color: var(--second-color);
}

/* Style the back side */
.flip-card-back {
  border: 3px var(--first-color) solid;
  background-color: rgb(69, 69, 69);
  color: var(--first-color);
  transform: rotateY(180deg);
}
.flip-card-back>a{
text-decoration: none;
color: var(--first-color);
}
.flip-card-back > a >button {
  font-size: 1.2rem;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  outline: 2px solid var(--third-place);
  color: inherit;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}
.flip-card-back > a > button:hover {
  background-color: var(--third-place);
  color: rgb(69, 69, 69);
}

/* FAQs */
.faqs {
  color: var(--second-color);
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10vh;
}
.faqs > h1 {
  text-align: center;
  font-family: Farenheight;
  font-size: 3rem;
}
.faqs .faqs-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.faq {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  border: 0 #173d97;
  transition: border 500ms;
}
.faq.active {
  border: 2px #173d97 solid;
}
.faq > .faq-header {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  background-color: #0c245a;
  border-radius: 0.5rem;
}
.faq-header h3 {
  margin: 10px 0;
  font-size: 1.6rem;
  padding: 0px 20px;
}

.faq .faq-header .open,
.faq .faq-header .close {
  text-align: center;
  position: absolute;
  right: 0;
  padding: 0 40px;
  font-size: 1.7rem;
  font-weight: bold;
  opacity: 0;
  transform: translateY(-2px);
  transition: all 500ms;
}

.faq .faq-header .open.active,
.faq .faq-header .close.active {
  opacity: 1;
  transform: translateY(0);
}

.faq .content {
  background-color: #0c235a7a;
  margin-top: -10px;
  line-height: 2;
  max-height: 0;
  overflow: hidden;
  transition: all 500ms ease-in-out;
}
.content p {
  padding: 1.2rem;
}

.faq .content.active {
  max-height: 500px;
}

/* Particles css */
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 0;
}

.contactUs{
  width: 100%;
  background-color: var(--background);
  color: var(--second-color);
  display: flex;
  flex-direction: column;
  /* border: 2px solid cyan; */
  border-top: 2px solid cyan;
  align-items: center;
  justify-content: center;
  /* border-top-left-radius: 10px;
  border-top-right-radius: 10px; */
  height: 400px;
  padding-bottom: 20px;

}
.links{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width:100%;
  margin: 2px 2px;
}
.links a{
  text-decoration: none;
  color: var(--second-color);
  margin: 5px 5px;
}
.insta> a{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.LinkedIn > a{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.insta{
  margin: 8px 24px;
}
.LinkedIn{
  margin: 8px 24px;;
}
.credits{
  font-size: 10px;
  margin: 6px 2px;
  transform: translateY(100%);
}

@media only screen and (max-width: 768px) {
  /* 
  .top {
    flex-direction: column; /* Change to column layout for smaller screens 
    align-items: flex-start; /* Align items to the start 
    position: static; /* Remove fixed position for the navbar 
    transform: none; /* Remove any transformations 
    visibility: none;
  } */

  .navbar {
    flex-direction: column; /* Stack navbar items vertically */
    flex-wrap: wrap;
    width: 100%; /* Full width for smaller screens */
    padding-left: 0; /* Remove left padding */
    padding-top: 10px; /* Adjust top padding */
    transform:translateX(14%);
  }

  .top {
    display: none;
  }

  /* Show a button to trigger the pop-up menu */
  .mobile-menu-button {
    display: block;
    cursor: pointer;
    color: #00bebe;
    height: 40px;
    width: 40px;
    position: fixed;
    top: 15px;
    left: 15px;

  }

  /* Style for the pop-up menu */
  .mobile-menu {
    display: none;
    flex-direction: column;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    ;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom,var(--background),transparent, var(--background));
    
    z-index: 999; /* Adjust the z-index as needed */
  }

  /* Additional styling for menu items in the pop-up menu */
  .mobile-menu a {
    color: var(--second-color);
    padding: 15px;
    text-align: center;
    text-decoration: none;
    font-size: 1.2rem;
  }

  /* Style for the close button in the pop-up menu */
  .close-mobile-menu {
    cursor: pointer;
    padding: 15px;
    text-align: center;
    background-color: var(--background);
    color: var(--second-color);
    border: none;
    font-size: 1.2rem;
  }


  #Aeravat{
    font-size: 50px;
  }
  #prizepool{
    font-size: 50px;
  }
 .hackathon > h2{
  font-size: 26px;
 }

  .logos{
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-shrink: 3;
    justify-content: space-around;
    transform: translateY(20%);
  }
  .orgContainer{
    /* border: 2px solid red; */
    margin: 2px 2px;
    display: flex;
    flex-direction: column;
    justify-content:  space-around;
    align-items: center;
    width: 150px;
    height: 170px;
  }
  .orgName{
    color: var(--second-color);
    /* border: 2px solid salmon; */
    margin: 7px 2px;
    justify-content: center;
    align-items: center;
    
  }
  .orgLogo{
    /* border: 2px solid magenta; */
    height: 100px;
    width: 100px;
  }
  

  .collaborators{
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-shrink: 3;
    justify-content: space-around;
    width: 60%;
    transform: translateX(34%);
  }
  .colabContainer{
    /* border: 2px solid red; */
    margin: 50px 2px;
    display: flex;
    flex-direction: column;
    justify-content:  space-around;
    align-items: center;
    width: 100px;
    height: 120px;
  }
  .colabName{
    color: var(--second-color);
    /* border: 2px solid salmon; */
    margin: 7px 2px;
    justify-content: center;
    align-items: center;
    
  }
  .colabLogo{
    /* border: 2px solid magenta; */
    height: 80px;
    width: 80px;
  }
  
  
.ieee-logo{
  display: none;
}

  .right {
    width: 100%; /* Make the right section full width */
  }

  .tracks {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  /* Timeline */
.timeline {
  color: var(--second-color);
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10vh;
}
.timeline > h1 {
  text-align: center;
  font-family: Farenheight;
  font-size: 3rem;
}
.timeline-grid {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 90%;
  gap: 6rem;
}
.timeline-grid > .line {
  position: absolute;
  width: 74%;
  height: 88%;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 5px var(--second-color) solid;
  border-left: none;
  border-top: none;
  border-bottom: none;
  z-index: -1;
  transform:translateX(-47%);
}
.bubble {
  background-color: #00dada;
  place-self: center;
  color: var(--background);
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: outline 100ms ease-in-out, filter 100ms ease-in-out,
    transform 200ms ease-in-out, box-shadow 50ms ease-in;
  box-shadow: 0 0 60px -30px #00f3f1;
}
.bubble > .date {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
}
.bubble > .month {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
}

.bubble > .detail {
  text-align: center;
  font-weight: 450;
  font-size: 0.9rem;
}
.bubble:hover {
  transform: scale(1.05);
  filter: brightness(70%);
  outline-offset: 2px;
  outline-width: 3px;
  outline-color: #fff;
  outline-style: dotted;
  box-shadow: 0 0 60px -10px #00bebe;
}


  /* Add any additional adjustments for smaller screens here */
}
@media only screen and (min-width:768px) and (max-width: 1140px){
  
 #Aeravat{
  font-size: 108px;
 }

 .logos{
  /* border: 2px solid blue; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-shrink: 3;
  justify-content: space-around;
  transform: translateY(20%);
}
.orgContainer{
  /* border: 2px solid red; */
  margin: 2px 2px;
  display: flex;
  flex-direction: column;
  justify-content:  space-around;
  align-items: center;
  width: 250px;
  height: 270px;
}
.orgName{
  color: var(--second-color);
  /* border: 2px solid salmon; */
  margin: 7px 2px;
  justify-content: center;
  align-items: center;
  
}
.orgLogo{
  /* border: 2px solid magenta; */
  height: 200px;
  width: 200px;
}

 
 .collaborators{
  /* border: 2px solid blue; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-shrink: 3;
  justify-content: space-around;
  width: 60%;
  transform: translateX(34%);
}
.colabContainer{
  /* border: 2px solid red; */
  margin: 2px 2px;
  display: flex;
  flex-direction: column;
  justify-content:  space-around;
  align-items: center;
  width: 250px;
  height: 270px;
}
.colabName{
  color: var(--second-color);
  /* border: 2px solid salmon; */
  margin: 7px 2px;
  justify-content: center;
  align-items: center;
  
}
.colabLogo{
  /* border: 2px solid magenta; */
  height: 200px;
  width: 200px;
}

/* Timeline */
.timeline {
  color: var(--second-color);
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10vh;
}
.timeline > h1 {
  text-align: center;
  font-family: Farenheight;
  font-size: 3rem;
}
.timeline-grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 80%;
  height: 90%;
  gap: 6rem;
}
.timeline-grid > .line {
  position: absolute;
  width: 100%;
  height: 60%;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 5px var(--second-color) solid;
  border-left: none;
  z-index: -1;
}
.bubble {
  background-color: #00dada;
  place-self: center;
  color: var(--background);
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: outline 100ms ease-in-out, filter 100ms ease-in-out,
    transform 200ms ease-in-out, box-shadow 50ms ease-in;
  box-shadow: 0 0 60px -30px #00f3f1;
}
.bubble > .date {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
}
.bubble > .month {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
}

.bubble > .detail {
  text-align: center;
  font-weight: 450;
  font-size: 0.9rem;
}
.bubble:hover {
  transform: scale(1.05);
  filter: brightness(70%);
  outline-offset: 2px;
  outline-width: 3px;
  outline-color: #fff;
  outline-style: dotted;
  box-shadow: 0 0 60px -10px #00bebe;
}


 

  /* Add any additional adjustments for smaller screens here */
}